@import "tailwindcss";

:root {
  --bg-primary: #0B1120;
  --bg-secondary: #111827;
  --card-bg: rgba(255,255,255,0.03);

  --text-primary: #ffffff;
  --text-secondary: rgba(255,255,255,0.6);

  --accent: #06b6d4;
  --accent-secondary: #8b5cf6;

  --border: rgba(255,255,255,0.06);
}

.light {
  --bg-primary: #f3f4f6;
  --bg-secondary: #ffffff;
  --card-bg: rgba(255,255,255,0.8);

  --text-primary: #111827;
  --text-secondary: rgba(0,0,0,0.6);

  --accent: #0891b2;
  --accent-secondary: #7c3aed;

  --border: rgba(0,0,0,0.08);
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.glass {
  background: var(--card-bg);
  backdrop-filter: blur(14px);
  border: 1px solid var(--border);
}

.grid-bg {
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

  background-size: 40px 40px;
}